@charset "utf8";

*{
    margin: 0px;
}

:root{
    --color1-background: #F7B600;
    --color1-text: #2a2a2a;

    --color-title: #382900;
    --color-background-title: #f7f7f7;
    
    --font-title: arial;
    --font-text: arial;
}
a{
    text-decoration: none;
    color: var(--color1-background);
}
a:hover{
    text-decoration: underline;
}

body{
    background-color: #e6e6e6;
}

header{
    background-color: var(--color1-background);
    text-align: center;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.158) ;
    
}
#title{
    padding: 21px;
    padding-bottom: 13px;
}

#title > h1{
    font: bold 2.5em arial;
}
nav{
    padding-bottom: 21px;
    border-top: 1px solid var(--color1-title);
    display: block;

}

#menu > li > a{
    color: var(--color-background-title);
    text-decoration: none;
    font: normal 1.1em var(--font-text);
    padding: 8px;
}
ul{
    padding-inline-start: 0px;
    list-style: none;
}
nav > ul > li{
    display: inline-block;
    margin-top: 13px;
    margin-right: 13px;
}

#menu > li > a:hover{
    background-color: var(--color-background-title);
    color: var(--color1-background);
}
main{
    max-width: 900px;
    margin: auto;
    margin-top: 21px
}
h2{
    font: bold 1.5em var(--font-title);
    color: var(--color1-text);
}
 p{
    font: normal 1em var(--font-text);
    text-align: justify;
    text-indent: 3em;
    margin-bottom: 1em;
    line-height: 1.2em;
}
p.data-postagem{
    font-size: 0.9em;
    text-align: left;
    text-indent: 0px;

}

section{
    max-width: 650px;
    display: inline-block;
   
}

article{
    border-radius: 8px;
    margin-bottom: 21px;
    background-color: var(--color-background-title);
    padding: 21px;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.158) ;
    
}
aside{
    width: 250px;
    float: right;
   
}

.imagem{
    text-align: center;
    margin: 8px 0px;

}
img{
    width: 100%;
}

h3{
    font: normal 1.2em var(--font-title);

    color: var(--color-background-title);
    background-color: var(--color1-background);

    padding: 5px;
    margin-bottom: 3px;
}
   
.box-extras{
    background-color: var(--color-background-title);
    padding: 13px;
    margin: 0px 0px 21px 21px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.158) ;
}

.box-extras > p{
    font: normal 0.9em var(--font-text) ;
    text-indent: 0px;
}

footer > p{
    text-align: center;
    background-color: var(--color1-background);
    margin: auto;
    max-width: 900px;
    padding: 13px;
    margin-bottom: 21px;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.158) ;
}